@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
}

header{
  height: 10vh;
}

main {
  flex-grow: 1;
  height: 80vh;
}

footer{
  height: 10vh;
}

.action {
  cursor: pointer;
  &:hover{
    background-color: rgb(194, 194, 194);
  }
}

.side-bar-scroll {
  max-height: 80vh;
  overflow-y: auto;
}